<div id="canvas-holder"></div>

<div id="hud-view">
	<div id="level">LEVEL <span id="level-num">0</span></div>
	<div id="clock">
		<span id="clock-min">00</span>:<span id="clock-sec">00</span>:<span id="clock-mil">00</span>
	</div>

</div>